
@{
    ViewData["Title"] = "Jaś Fasola";
}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-9 mx-auto">
        <div class="jumbotron">
            <h1 class="display-4 font-weight-normal">Jaś Fasola</h1>
            <p class="lead">Brytyjski serial komediowy, kojarzony przez widzów głównie dzięki bardzo charakterystycznemu aktorowi, jakim jest Rowan Atkinson. Powstało wiele części pełnometrażowych filmów na podstawie serialu, zaś sam serial miał 14 odcinków.</p>
        </div>
    </div>
    <img src="https://memegenerator.net/img/images/14329288.jpg" class="img-fluid rounded" alt="Responsive image">

    <div class="container rounded bg-info mt-5">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col ">
                <img src="https://pyxis.nymag.com/v1/imgs/be0/824/ae3d33d1fb4175fad996144b433b801962-mr-bean.rvertical.w330.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
            </div>
            <div class="col-9 align-middle  p-5">
                <h3>Jaś Fasola – filmy pełnometrażowe</h3>
                <p class="card-text text-justify">
                    Na podstawie serialu „Mr Bean” powstało kilka pełnometrażowych produkcji i jedna animowana. W 1997 roku w kinach pojawił się obraz „Jaś Fasola: Nadciąga totalny kataklizm”. Był to pierwszy film,
                    który przekroczył barierę stu milionów dolarów jeszcze przed premierą w Stanach Zjednoczonych. Fabuła filmu opleciona jest wokół obrazu Matka Whistlera pędzla Jamesa McNeil Whistlera. Malowidło to zostaje przywiezione
                    z Francji do Los Angeles w Kalifornii. Muzeum ze Stanów prosi również o przysłanie doświadczonego kustosza z Londynu, w celu uświetnienia ceremonii ukazania obrazu. Dyrektor londyńskiego muzeum proponuje wysłać Jasia Fasolę, nieudacznika i obiboka.
                    Pracownicy chętnie przystają na ten pomysł, chcąc pozbyć się kłopotliwego kolegi. Fasola leci więc do Los Angeles, gdzie zostaje przyjęty jak prawdziwy znawca i miłośnik sztuki. Jego niecodzienne zachowanie tłumaczone jest jako dziwactwa ekscentryka.
                    Fasola mieszka u miejscowego pracownika muzeum i jego rodziny. Gdy Jaś fasola przygląda się obrazowi Whistlera niechcący go niszczy. Ma niewiele czasu na jego naprawę. Wkleja w miejsce obrazu plakat, zaś zniszczone płótno zabiera do domu.
                    Akcja filmu toczy się wartko, obfituje w komiczne sytuacje, gagi, mnóstwo zwrotów akcji.
                </p>
            </div>
        </div>
    </div>

    <div class="container bg-info rounded mt-5">
        <div class="row">
            <div class="col-9  p-5">
                <h3>Jaś Fasola – kreskówka</h3>
                <p class="card-text text-justify">
                    Kreskówka „Jaś Fasola” to propozycja głównie dla najmłodszych, choć zagorzali fani Atkinsona również obejrzą ją z przyjemnością. Ma ona 26 odcinków. Podobnie jak w serialu z początku lat dziewięćdziesiątych nie ma tutaj
                    zbyt rozbudowanych dialogów, fabuła również bazuje na serialu. Jaś Fasola mieszka w bloku ze swym misiem, ciągle musi użerać się z właścicielką bloku – panią Wicket i jej kotem Scrapperem.
                </p>
            </div>
            <div class="col d-flex flex-wrap align-items-center">
                <img src="https://i.pinimg.com/originals/af/d3/40/afd3403aae501fa52845d82b30d93dd7.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
            </div>
        </div>
    </div>
</div>